#### Copy from main/resource/application.yml
endpoints:
  shutdown:
    enabled: true

spring:
  freemarker:
    charset: UTF-8

security:
  basic:
    enabled: false

build:
  number: 8

#### SPRING BOOT SETTING ###


#### REMIN INTERNAL SETTING ###
remin:
  host:

server:
  port: 0

management:
  port: 0
  add-application-context-header: false
  security:
    enabled: false

redis:
  prefixKey: _remin
  host: YOUR_REDIS_HOST
  port: 9000

auth:
  enabled: false
  allowAnonymous: true

notice:
  mail:
    host:
    port: 0
    from:
    user:
    password:
    charset: UTF-8

scheduler:
  refreshClustersIntervalMillis: 0
  collectStaticsInfoIntervalMillis: 0
  collectStaticsInfoMaxCount: 10

outputMetrics:
  fluentd:
    enabled: false
    host:
    port: 0
    timeout: 3000
    bufferCapacity: 1048576
    tag: remin
    nodeTag: node

# TEST PROPERTIES
test:
  redis:
    host: YOUR_REDIS_HOST
